@font-face { 
    font-family: "Ubuntu";
    src: url(./fonts/Ubuntu-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: "Ubuntu";
    src: url(./fonts/Ubuntu-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face { 
    font-family: "Ubuntu";
    src: url(./fonts/Ubuntu-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --primary-color: #212353;
    --second-color: #4B5D68;
    --third-color: #9C69E2;
    --white: #FFFFFF;
  }
.container {
    max-width: 1137px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.header {
    margin-top: 62px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
  }
/*=== nav ===*/
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 143px;
}
.nav__logo {
    width: 49px;
    height: 35px; 
    text-decoration: none;
    margin-right: 121px;
    cursor: pointer;
}
.nav__logo:hover {
    opacity: 0.8;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav__menu_item {
    margin-right: 40px;
}
.nav__menu_item:last-child {
    margin-right: 0;
}
.nav__menu_link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--second-color);
}
.nav__menu_link:hover {
    font-weight: 700;
    color: var(--primary-color);
    -webkit-transition: font-weight .5s linear;
    -o-transition: font-weight .5s linear;
    transition: font-weight .5s linear;
    -webkit-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
}

/*=== headline ===*/
.headline {
    width: 645px;
    margin-bottom: 200px;
    position: relative;
}
.headline__title {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: var(--primary-color);
    margin-bottom: 50px;
}
.headline__text {
    width: 380px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--second-color);
    margin-bottom: 50px;
}
.headline__btn {
    max-width: 170px;
    height: 60px;
    border: none;
    cursor: pointer;
    background: var(--third-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50px;   
}
.headline__btn:hover {
    opacity: .8;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}
.headline__btn_link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: var(--white);
}
.headline__img {
    position: absolute;
    min-width: 885px;
    top: 96px;
    left: 363px;
    z-index: -1;
    overflow: visible;
}

/*=== storage ===*/
.storage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1117px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 150px;
}
.storage__img {
    width: 469px;
}
.storage__content {
    margin: 125px 65px 125px 92px;
}
.storage__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 40px;
}
.storage__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--second-color);
}

/*=== features ===*/
.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 150px;
}
.features__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 584px;
    margin-bottom: 100px;
}
.features__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 50px;
}
.features__preamble {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: var(--second-color);
}
.features__blocks {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 50px 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 45px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 45px;
}
.features__blocks > *:nth-child(1) { 
    -ms-grid-row: 1; 
    -ms-grid-column: 1;
}
.features__blocks > *:nth-child(2) { 
    -ms-grid-row: 1; 
    -ms-grid-column: 3;
}
.features__blocks > *:nth-child(3) { 
    -ms-grid-row: 3; 
    -ms-grid-column: 1;
}
.features__blocks > *:nth-child(4) { 
    -ms-grid-row: 3; 
    -ms-grid-column: 3;
}
.features__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
}
.features__block-first {
    background: url('./img/features1/Ellipse.svg') top 44px right 118px / 34px 20px no-repeat,
                url('./img/features1/Vector.svg') top 15px right 20px / 204px 118px no-repeat,
                url('./img/features1/Rectangle.jpg') top right/ 82% 100% no-repeat;
}
.features__block-second {
    background: url('./img/features2/Vector.svg') bottom 20px right 20px / 222px 130px no-repeat,
                url('./img/features2/Rectangle.jpg') top right / 82% 100% no-repeat;
}
.features__block-third {
    background: url('./img/features3/Ellipse.svg') top 20px right 20px / 68px 40px no-repeat,
                url('./img/features3/Rectangle.jpg') top right / 82% 100% no-repeat;
}
.features__block-four {
    background: url('./img/features4/Ellipse.svg') bottom 20px right 20px / 62px 37px no-repeat,
                url('./img/features4/Vector.svg') top 20px right 50% / 324px 188px no-repeat,
                url('./img/features4/Rectangle.jpg') top right / 82% 100% no-repeat;
}
.features__img {
    max-width: 240px;
    margin-right: 30px;
}
.features__content {
    margin-right: 20px;
}
.features__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: 49px;
}
.features__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--second-color);
}
.features__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 33px;
    margin-top: 20px;
}
.features__about {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: var(--primary-color);
    margin-right: 20px;
}
.features__arrow {
    cursor: pointer;
    width: 20px;
    height: 14px;
    color: var(--third-color);
}
.features__arrow:hover, .features__arrow:focus {
    opacity: .6;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
} 

/*=== testimonials ===*/
.testimonials {
    background: var(--third-color);
    border-radius: 50px;
    padding-top: 109px;
    padding-left: 93px;
    position: relative;
    padding-bottom: 58px;
    margin-bottom: 150px;
}
.testimonials__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: var(--white);
}
.testimonials__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1485px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-bottom: 58px;
    margin-top: 88px;
}
.testimonials__item:last-child {
    margin-right: 0;
}
.testimonials__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background: var(--white);
    -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
            box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    margin-right: 20px;
    padding: 60px 70px 50px;
}
.testimonials__item-gradient {
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, #FFFFFF), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, #FFFFFF 30%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, #FFFFFF 30%, rgba(255, 255, 255, 0) 100%);
}
.testimonials__ava {
    width: 90px;
    height: 90px;
    background: var(--third-color);
    margin-right: 30px;
}
.testimonials__content {
    margin-top: 20px;
}
.testimonials__fio {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: var(--primary-color);
}
.testimonials__position {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: var(--third-color);
}
.testimonials__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: var(--second-color);
    margin-top: 19px;
}
.testimonials__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 76px;
}
.testimonials__points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.testimonials__point {
    width: 5px;
    height: 5px;
    background: var(--white);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.testimonials__point:hover, .testimonials__point:focus {
    opacity: .5;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.testimonials__point:last-child {
    margin-right: 0;
}
.testimonials__point-active {
    width: 10px;
    height: 10px;
}
.testimonials__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.testimonials__arrow {
    width: 20px;
    height: 14px;
    color: var(--white);
    opacity: .5;
    margin-right: 20px;
    cursor: pointer;
}
.testimonials__arrow:last-child {
    margin-right: 0;
}
.testimonials__arrow:hover, .testimonials__arrow:focus {
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.testimonials__arrow-active {
    width: 40px;
    opacity: 1;
}
.hr {
    height: 2px;
    background: var(--third-color);
    opacity: 0.2;
}

/*=== footer ===*/
.footer {
    margin-top: 160px;
    margin-bottom: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
.footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px;
}
.footer__logo {
    width: 49px;
    height: 34.35px;
    margin-right: 20px;
}
.footer__logo:hover, .footer__logo:focus {
    opacity: 0.8;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}
.footer__caption {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: var(--primary-color);
}
.footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.footer__contact {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--primary-color);
    margin-bottom: 36px;
}
.footer__copyright {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--primary-color);
}
.footer__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--primary-color);
    margin-bottom: 30px;
}
.footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__icon {
    width: 50px;
    height: 49.08px;
    background: var(--primary-color);
    opacity: 0.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-right: 14px;
    cursor: pointer;
}
.footer__icon:hover, .footer__icon:focus {
    opacity: .4;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.footer__icon:last-child {
    margin-right: 0;
}

/*=== @media ===*/
@media (max-width:950px) and (min-width:851px) {
    .nav {
        margin-bottom: 133px;
    }
    .headline__img {
        min-width: 800px;
        top: 90px; 
    }
    .storage__img {
        width: 400px;
    }
    .storage__content {
        margin: 115px 55px 115px 85px;
    }
    .features__img {
        max-width: 200px;
    }
    .testimonials {
        padding-top: 90px;
        padding-left: 90px;
        padding-bottom: 50px;
        margin-bottom: 140px;
    }
    .testimonials__item {
        padding: 50px 60px 40px;
    }
    .footer {
        margin-top: 140px;
        margin-bottom: 60px;
    }
}
@media (max-width: 850px) and (min-width:721px) {
    .nav {
        margin-bottom: 123px;
    }
    .headline {
        width: 605px;
        margin-bottom: 150px;
    }
    .headline__title {
        font-size: 70px;
    }
    .headline__text {
        width: 330px;
        font-size: 17px;
    }
    .headline__img {
        min-width: 700px;
        top: 80px; 
        left: 330px;
    }
    .storage {
        margin-bottom: 100px;
    }
    .storage__img {
        width: 300px;
    }
    .storage__content {
        margin: 80px 50px 80px 50px;
    }
    .features__caption {
        width: 500px;
        margin-bottom: 60px;
    }
    .features__title {
        margin-bottom: 40px;
    }
    .features__blocks {
        grid-row-gap: 40px;
        grid-column-gap: 40px;
    }
    .features__img {
        max-width: 150px;
    }
    .testimonials {
        padding-top: 80px;
        padding-left: 80px;
        padding-bottom: 50px;
        margin-bottom: 120px;
    }
    .testimonials__item {
        padding: 50px 60px 40px;
    }
    .footer {
        margin-top: 120px;
        margin-bottom: 50px;
    }
}
@media (max-width:720px) and (min-width:551px) {
    .nav {
        margin-bottom: 90px;
    }
    .headline {
        width: 550px;
        margin-bottom: 100px;
    }
    .headline__title {
        font-size: 60px;
    }
    .headline__text {
        width: 300px;
        font-size: 16px;
    }
    .headline__img {
        min-width: 600px;
        top: 60px; 
        left: 300px;
    }
    .storage {
        margin-bottom: 100px;
    }
    .storage__img {
        width: 250px;
    }
    .storage__content {
        margin: 70px 30px 70px 30px;
    }
    .storage__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .features__caption {
        width: 450px;
        margin-bottom: 50px;
    }
    .features__title {
        margin-bottom: 30px;
    }
    .features__blocks {
        -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
        grid-template-rows: repeat(4, 1fr);
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    .features__blocks > *:nth-child(1) { 
        -ms-grid-row: 1; 
        -ms-grid-column: 1;
    }
    .features__blocks > *:nth-child(2) { 
        -ms-grid-row: 3; 
        -ms-grid-column: 1;
    }
    .features__blocks > *:nth-child(3) { 
        -ms-grid-row: 5; 
        -ms-grid-column: 1;
    }
    .features__blocks > *:nth-child(4) { 
        -ms-grid-row: 7; 
        -ms-grid-column: 1;
    }
    .testimonials {
        padding-top: 60px;
        padding-left: 60px;
        padding-bottom: 40px;
        margin-bottom: 100px;
    }
    .testimonials__slider {
        width: 1300px;
        margin-bottom: 40px;
        margin-top: 60px;
    }
    .testimonials__item {
        padding: 40px 50px 30px;
    }
    .footer {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}
@media (max-width:550px) and (min-width:481px) {
    .nav {
        margin-bottom: 80px;
    }
    .headline {
        width: 500px;
        margin-bottom: 80px;
    }
    .headline__title {
        margin-bottom: 30px;
    }
    .headline__text {
        width: 250px;
        margin-bottom: 30px;
    }
    .headline__img {
        min-width: 500px;
        top: 65px; 
        left: 250px;
    }
    .storage {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 80px;
    }
    .storage__img {
        width: 250px;
    }
    .storage__content {
        margin: 40px;
    }
    .storage__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
    .storage__text {
        text-align: justify;
    }
    .features {
        margin-bottom: 60px;
    }
    .features__subtitle {
        margin-top: 20px;
    }
    .features__link {
        margin-bottom: 20px;
    }
    .testimonials {
        padding-top: 50px;
        padding-left: 50px;
        padding-bottom: 40px;
        margin-bottom: 80px;
    }
    .testimonials__slider {
        width: 1100px;
        margin-top: 50px;
    }
    .testimonials__item {
        padding: 30px 40px;
    }
    .footer {
        margin-top: 80px;
        margin-bottom: 40px;
    }
}
@media (max-width:480px) and (min-width:351px) {
    .nav__menu_item {
        margin-right: 30px;
    }
    .headline {
        width: 400px;
    }
    .headline__title {
        font-size: 50px;
    }
    .headline__text {
        width: 200px;
        font-size: 15px;
    }
    .headline__img {
        left: 200px;
    }
    .storage__img {
        width: 200px;
    }
    .storage__content {
        margin: 30px 40px;
    }
    .storage__title {
        font-size: 28px;
    }
    .features__caption {
        width: 320px;
        margin-bottom: 40px;
    }
    .testimonials {
        padding-top: 40px;
        padding-left: 30px;
        padding-bottom: 40px;
        margin-bottom: 60px;
    }
    .testimonials__slider {
        width: 800px;
        margin-top: 40px;
    }
    .testimonials__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 30px 40px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .testimonials__ava {
        margin: 0;
    }
    .testimonials__fio {
        text-align: center;
    }
    .testimonials__position {
        text-align: center;
    }
    .testimonials__text {
        text-align: justify;
    }
    .testimonials__panel { 
        margin-right: 30px;
    }
    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .footer__title {
        margin-bottom: 40px;
    }
    .footer__content {
        margin-bottom: 20px;
    }
    .footer__media {
        text-align: center;
    }
}
@media (max-width:350px) {
    .nav__logo {
        margin-right: 50px;
    }
    .headline {
        width: 300px;
    }
    .headline__title {
        font-size: 40px;
    }
    .headline__text {
        width: 180px;
        font-size: 15px;
    }
    .headline__img {
        left: 170px;
    }
    .headline__btn {
        max-width: 160px;
    }
    .storage {
        margin-bottom: 60px;
    }
    .storage__img {
        width: 150px;
    }
    .storage__content {
        margin: 20px;
    }
    .features__caption {
        width: 300px;
        margin-bottom: 30px;
    }
    .features__img {
        max-width: 100px;
        margin-right: 10px;
    }
    .testimonials {
        padding-left: 20px;
    }
    .testimonials__slider {
        margin-top: 30px;
        width: 700px;
    }
    .testimonials__item {
        padding: 20px 30px;
    }
}