@font-face { 
    font-family: "Ubuntu";
    src: url(./fonts/Ubuntu-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: "Ubuntu";
    src: url(./fonts/Ubuntu-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face { 
    font-family: "Ubuntu";
    src: url(./fonts/Ubuntu-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

.container {
    max-width: 1137px;
    margin: auto;
    padding: 0 10px;
}
.header {
    margin-top: 62px;
}
a {
    text-decoration: none;
}
/*=== nav ===*/
.nav {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 143px;
}
.nav__logo {
    width: 49px;
    height: 35px; 
    text-decoration: none;
    margin-right: 121px;
    cursor: pointer;
}
.nav__logo:hover {
    opacity: 0.8;
    transition: opacity .5s linear;
}

.nav__menu {
    display: flex;
    justify-content: start;
    align-items: center;
}
.nav__menu_item {
    margin-right: 40px;
}
.nav__menu_item:last-child {
    margin-right: 0;
}
.nav__menu_link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.nav__menu_link:hover {
    font-weight: 700;
    color: #212353;
    transition: font-weight .5s linear;
    transition: color .5s linear;
}

/*=== headline ===*/
.headline {
    width: 645px;
    margin-bottom: 200px;
    position: relative;
}
.headline__title {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
    margin-bottom: 50px;
}
.headline__text {
    width: 380px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-bottom: 50px;
}
.headline__btn {
    width: 170px;
    height: 60px;
    border: none;
    cursor: pointer;
    background: #9C69E2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;   
}
.headline__btn:hover {
    opacity: .8;
    transition: opacity .5s linear;
}
.headline__btn_link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}
.headline__img {
    position: absolute;
    min-width: 885px;
    height: 468px;
    top: 96px;
    left: 363px;
    z-index: -1;
    overflow: visible;
}

/*=== storage ===*/
.storage {
    display: flex;
    width: 1117px;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.storage__img {
    width: 469px;
    height: 496px;
}
.storage__content {
    margin-left: 65px;
    margin-right: 92px;
}
.storage__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    margin-bottom: 40px;
}
.storage__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

/*=== features ===*/
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 584px;
    margin-bottom: 100px;
}
.features__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #212353;
    margin-bottom: 50px;
}
.features__preamble {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
}
.features__block {
    display: flex;
    justify-content: start;
    align-items: center;
}
.features__img {
    width: 240px;
    margin-right: 30px;
}
.features__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
    margin-bottom: 20px;
    margin-top: 49px;
}
.features__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.features__link {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 33px;
    margin-top: 20px;
}
.features__about {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}
.features_arrow {
    cursor: pointer;
    width: 20px;
    height: 14px;
}
.features_arrow:hover, .features_arrow:focus {
    opacity: .8;
    transition: opacity .5s linear;
} 

/*=== testimonials ===*/
.testimonials__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}
.testimonials__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonials__item {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.testimonials__ava {
    width: 90px;
    height: 90px;
    background: #F063B8;
    margin-left: 70px;
    margin-top: 60px;
    margin-right: 30px;
}
.testimonials__content {
    margin-top: 80px;
}
.testimonials__fio {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}
.testimonials__position {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2;
}
.testimonials__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    margin-top: 19px;
}